{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block  body%}

<section id="gallery">
    <div class="container-fluid ">
        <div class="col-sm-12 ">
            <h1 class="text-center ">Galerie</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/pièce montée fruits.jpg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/planche_apero.jpg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/pauline.jpg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/pièce_montée_cyril.webp') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/panier_legal.jpeg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/barbapapa.jpg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/burger.webp') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/cyril_cuistot.jpg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 py-4">
                            <img src="{{ asset('img/global/dehors_legal.jpeg') }}" alt="gallery" class="img-fluid img-thumbnail gallery-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
