{% extends 'base.html.twig' %}
{% block title %}Evènements{% endblock %}
{% block body %}
    <section class="row">
        <h2 class="display-5 d-flex justify-content-center my-4">Evènements</h2>
        <div class="col-sm-9 offset-1 my-4">
            {{ form_start(form)}}
            {{form_widget(form)}}
            <a href="{{ asset('terms agreements/termes_et_conditions_dutilisation.docx') }}" style="color: #3b82f6">Conditions</a><br>
            <button type="submit" class="btn btn-outline-secondary">Envoyer</button>
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}