{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
<section id="event">
    <div class="container-fluid ">
        <div class="col-sm-12 ">
            <h1 class="text-center ">Evènements</h1>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-sm-center">
                <div class="card-group-event col-lg-12 col-md-6 col-sm-12 py-4  ">
                        <div class="card">
                            <img src="{{ asset('img/global/mariage_homepage.jpg') }}" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mariage</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="{{ path('event_wedding') }}"><button class="btn btn-secondary">Commencer à organiser</button></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('img/global/conviviale_bis_bis_legal.jpeg') }}" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Evènements</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <a href="{{ path('event_events') }}"><button class="btn btn-secondary">Commencer à organiser</button></a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('img/global/Magasin_legal.jpeg') }}" class="card-img-top card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">B2B</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <a href="{{ path('event_business') }}"><button class="btn btn-secondary">Commencer à organiser</button></a>
                            </div>
                        </div>
                </div>
    </div>
</section>
{% endblock %}
