{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h2 class="display-4 my-3">S'identifier</h2>
                {% if app.flashes('error') %}
                    <div class="alert alert-danger">
                        {% for message in app.flashes('error') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group my-3">
                        <label for="inputEmail" class="form-label">Email:</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" value="{{ last_username }}" autocomplete="email" required autofocus>
                    </div>
                    <div class="form-group my-3">
                        <label for="inputPassword" class="form-label">Password:</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" required>
                    </div>
                    <div class="form-group my-3">
                        <button type="submit" class="form-control btn btn-outline-secondary">login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
