{% extends 'base.html.twig' %}

{% block title %}Ajouter un Job{% endblock %}

{% block body %}
    <h1>Ajouter un Job</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}