{% extends 'base.html.twig' %}

{% block title %}Modifier le Job{% endblock %}

{% block body %}
    <h1>Modifier le Job</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}