{% extends 'base.html.twig' %}

{% block title %}Gestion des Jobs{% endblock %}

{% block body %}
    <h1>Gestion des Jobs</h1>
    <a href="{{ path('admin_job_add') }}" class="btn btn-success mb-3">Ajouter un Job</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Petite description</th>
            <th>Description complète</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Catégorie</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.SmallDescription }}</td>
                <td>{{ job.FullDescription }}</td>
                <td>{{ job.createdAt|date('d/m/Y') }}</td>
                <td>{{ job.updatedAt|date('d/m/Y') }}</td>
                <td>{{ job.category.name }}</td>
                <td>{{ job.image }}</td>

                <td>
                    <a href="{{ path('admin_job_edit', {id: job.id}) }}" class="btn btn-primary">Modifier</a>
                    <form action="{{ path('admin_job_delete', {id: job.id}) }}" method="post" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}