{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'partials/slider.html.twig' %}
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-center p-5">
                    <h1>Notre Philosophie</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class=""> Notre philosophie</h2>
                    <p class="text-lg">
                        Nous sommes avant tout des bons vivants aimant les moments de convivialités que nous offre les repas mais surtout les apéros !
                        C'est pourquoi notre service traiteur nous ressemble, nous prônons avant tout des produits de qualité, cuisinés avec gourmandise !

                    <h2 >Nos partenaires</h2>
                    <p class="text-lg">
                        Nos partenaires sont des producteurs locaux, des artisans de qualité, qui partagent nos valeurs et notre amour pour la bonne cuisine.
                        Nous utilisons un maximum des produits de saison, issus de circuits courts. C'est pourquoi nous les mettons en avant dans nos assiettes afin de sortir des plats savoureux et responsables.
                    </p>
                        <h2>Conçu pour les épicuriens</h2>
                    <p class="text-lg">
                        Nous sommes une équipe passionnée, dédiée à faire de votre expérience culinaire un moment inoubliable.
                        Notre mission est de vous proposer une formule unique qui réponde à vos attentes. Nos créations sont conçues pour tous :
                        les entreprises et les particuliers qui cherchent à sublimer leur réception afin de satisfaire leurs convives.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="chiefs">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-center py-2">
                    <h1>Les Chefs</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="chiefs-img w-auto  rounded-circle rounded-lg-0"  src="{{asset('img/global/pauline.jpg')  }}" alt="default" style="max-width: 100%">
                        </div>
                        <div class="col-lg-6 ">
                            <h2>Pauline Sizaire</h2>
                            <h3>Cheffe et co-fondatrice</h3>
                            <p class="text-lg">Voici Pauline, co-fondatrice.
                                Elle est enseignante dans le supérieur.  Elle forme ses étudiants à la pratique du service en salle.
                                Toujours souriante et dynamique, elle excelle en cuisine, préparant des plats délicieux et créatifs pour vos événements.
                                Toi aussi, tu veux déguster sa cuisine ?</p>
                        </div>
                    </div>
                    <div class="row d-flex flex-row-reverse">
                        <div class="col-lg-6">
                            <img class="chiefs-img   w-auto rounded-circle rounded-lg-0 " src="{{asset('img/global/cyril.jpg')  }}" alt="default" style="max-width: 100%">
                        </div>
                        <div class="col-lg-6 py-lg-4">
                            <h2>Cyril Van Roey</h2>
                            <h3>Chef et co-fondateur</h3>
                            <p class="text-lg">
                                Découvrez Cyril, co-fondateur.
                                Maître du feu, il excelle en cuisine, qu'il s'agisse de barbecue, fumoir ou de brasero. Amateur de viande, il est également un pâtissier hors pair.
                                Passionné de l'apéro entre amis, Cyril, aussi surnommé l'apéro thérapeute, est un véritable créateur, libre de toute contrainte.
                                Viens découvrir sa créativité sans bornes !
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </section>

{% endblock %}
