{%block footer%}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Au gré de vos envies</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{{ asset('img/global/logo.png') }}" alt="logo" id="logo">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item px-2"><i class="bi bi-facebook"></i></li>
                <li class="nav-item px-2"><i class="bi bi-instagram"></i></li>
                <li class="nav-item px-2"><i class="bi bi-linkedin"></i></li>

            </ul>
        </footer>
    </div>
{% endblock %}