{% block navbar %}
    <nav class="navbar" aria-label="navbar" style="background-color: #fff1e5">
        <div class="container-fluid">
            <button class="navbar-toggle border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" >
                <i class="bi bi-list"></i>
            </button>
            <img src="{{ asset('img/global/logo.png') }}" alt="logo" id="logo">
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event') }}">Evènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gallery') }}">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jobs') }}">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user') }}">Interface Utilisateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="nav-link" href="{{ path('app_admin') }}">Interface Administrateur</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{# gestion messages flash #}
 {% for label, messages in app.flashes %}
     {% for message in messages %}
         <div class="alert alert-{{ label }} my-0">
             {{ message }}
         </div>
     {% endfor %}
 {% endfor %}