{% block slider %}
        <div id="slider" class="bg-image" >
            <div class="container-slider " >
                <div class="overlay"></div>
                <div class="row d-flex flex-column align-items-center col-sm-12 " id="hero">
                    <h5 class="w-auto">Au gré de vos envies</h5>
                    <p class="w-auto ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quos!</p>
                    <button class="btn btn-light w-auto btn-slider" ><a href="{{ path('contact') }}">Contactez Nous</a></button>
                </div>
            </div>
        </div>
{% endblock %}
