{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
    <div class="container mt-5 min-vh-100">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Jobs</h5>
                        <p class="card-text">Accédez à la gestion des offres d'emploi et des candidatures.</p>
                        <a href="{{ path('admin_job') }}" class="btn btn-primary">Gérer les Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Évènements</h5>
                        <p class="card-text">Accédez à la gestion des évènements et des inscriptions.</p>
                        <a href="{{ path('admin_event_read') }}" class="btn btn-primary">Gérer les Évènements</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Utilisateurs</h5>
                        <p class="card-text">Accédez à la gestion des utilisateurs et des rôles.</p>
                        <a href="{{ path('admin_users') }}" class="btn btn-primary">Gérer les Utilisateurs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}