
a{
    text-decoration: none;
    color: #FFFFFF;
}
body{

    background-color: #FFF1E5;
}



/*Slider*/
.container-slider{
    position: relative;
    background-image: url("../img/global/burger_edited4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(166, 165, 165, 0.6);
    z-index: 1;
    height: 100%;
    width: 100%;
}
#hero{
    position: relative;
    color: white;
    padding-top: 200px;
    z-index: 2;
}
#hero p{
    font-size: 20px;
    font-weight: 400;
}
#hero h5{

    font-size: 50px;
    font-weight: 700;
}
.btn-slider{

    color: #FFFFFF;
    background-color: #9A918A;
    border: none;

}

/*Navbar*/
#logo{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.navbar-toggle{
    background-color: transparent;
    font-size: 2rem;
}
/*About*/
.chiefs-img{
    height: auto;
    width: 345px;
    display: block;
    justify-content: center;
    margin: auto;
}
#chiefs{
    padding: 80px;
}
#chiefs h1{
    padding-bottom: 20px;
}
/*Gallery*/


.img-thumbnail{
    background-color: #DBC4B0;
}

/*footer*/
.footer{
    position: absolute;
    background-color: #DBC4B0;
    height: auto;
}
.footer li{
    list-style-type: none;
}

/*utilities*/
.card{
    background-color: #DBC4B0;
    width: 100%;
    height: 100%;
    margin:20px;

}
.card-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


 .gallery-img {
     width: 100%;
     height: 500px; /* Ajustez la hauteur selon vos besoins */
     object-fit: cover; /* Cette propriété permet de s'assurer que l'image couvre toute la zone sans déformation */
 }
.full-description {
    white-space: pre-wrap;
    word-wrap: break-word;
}


/*Media queries*/
@media (min-width: 992px) {
    .rounded-lg-0 {
        border-radius: 0 !important;
    }
    .card-group-event{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .text-lg{
        font-size: 1.5rem;
    }



}
@media (max-width: 992px) {
    .card-group-event {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}