{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<section id="contact">
    <div class="container-fluid ">
        <div class="col-sm-12 ">
            <h1 class="text-center ">Contact</h1>
        </div>
    </div>
    <div class="col-sm-9 offset-1 my-4">
        {{ form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-outline-secondary">Envoyer</button>
        {{form_end(form)}}
    </div>
</section>
{% endblock %}