{% extends 'base.html.twig' %}

{% block title %}Détail {% endblock %}

{% block body %}
<section id="détails">
    <div class="container-fluid ">
        <div class="col-sm-12 py-5 ">
            <h1 class="text-center ">{{ job.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-sm-12 ">
            <div class="col-md-5 px-5 py-3">
                <img src="{{ asset('img/job/' ~ job.image) }}" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h4>Description</h4>
                <p class="full-description">{{ job.fullDescription }}</p>
                <h4>Informations</h4>
                <p class="info">
                    Mise en ligne: {{ job.createdAt|date('d/m/Y') }}<br>
                    Type de contrat: {{ job.category.name }}<br>
                    <a href="{{ path('contact') }}" class="btn btn-secondary btn-sm m-3" data-toggle="tooltip" data-placement="bottom"  >Postuler</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}