{% extends 'base.html.twig' %}

{% block title %}Jobs {% endblock %}

{% block body %}
<section id="jobs">
    <div class="container-fluid ">
        <div class="col-sm-12 ">
            <h1 class="text-center ">Jobs</h1>
        </div>
    </div>
    <div class=" row col-sm-12  " style="overflow: hidden;">
    <!--Cards-->
            {% for job in jobs %}
            <div class=" col-sm-12  col-md-4 py-5" data-category= "{{ job.category.id }}" data-sort = "value">
                <div class="card  m-3" style="min-height: 480px !important;">
                    <img src="{{ asset('img/job/' ~ job.image) }}" class="card-img-top card-img" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ job.name |capitalize }}</h4>
                        <h5 class="card-subtitle text-muted my-3">{{ job.category.name }}</h5>
                        <p class="card-text">{{ job.smallDescription }}</p>
                        <a class="btn btn-outline-secondary" href="{{ path('détails', {id: job.id}) }}" role="button">En savoir plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</section>

{% endblock %}
