{%  extends 'base.html.twig'%}
{% block title %}Modifier Profil{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Modifier Profil</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}

        <form action="{{ path('app_delete_account') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
            <button type="submit" class="btn btn-danger mt-3">Supprimer mon compte</button>
        </form>
    </div>
{% endblock %}