{% extends 'base.html.twig' %}
{% block title %}Mes évènements{% endblock %}


{% block body %}
    <select id="eventTypeSelect" class="w-25 form-select mb-3">
        <option value="wedding">Mariage</option>
        <option value="evenement">Événement</option>
        <option value="b2b">B2B</option>
    </select>

    <div id="weddingTable" class="event-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Remarques</th>
            </tr>
            </thead>
            <tbody>
            {% for weddings in wedding %}
                <tr>
                    <td>{{ weddings.name}}</td>
                    <td>{{ weddings.date | date('d/m/Y') }}</td>
                    <td>{{ weddings.message }}</td>
                </tr>
            {% endfor %}
            <!-- Remplir avec les données des mariages -->
            </tbody>
        </table>
    </div>

    <div id="evenementTable" class="event-table" style="display: none;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Remarques</th>
            </tr>
            </thead>
            <tbody>
            {% for events in event %}
                <tr>
                    <td>{{ events.name}}</td>
                    <td>{{ events.date | date('d/m/Y') }}</td>
                    <td>{{ events.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="b2bTable" class="event-table" style="display: none;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Remarques</th>
            </tr>
            </thead>
            <tbody>
            {% for b2b in business %}
                <tr>
                    <td>{{ b2b.name}}</td>
                    <td>{{ b2b.date | date('d/m/Y') }}</td>
                    <td>{{ b2b.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('eventTypeSelect').addEventListener('change', function() {
            var selectedType = this.value;
            var tables = document.querySelectorAll('.event-table');
            tables.forEach(function(table) {
                table.style.display = 'none';
            });
            document.getElementById(selectedType + 'Table').style.display = 'block';
        });
    </script>
{% endblock %}