{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <main class="container my-5 min-vh-100">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body card-user">
                        <h5 class="card-title">Liste des Événements</h5>
                        <p class="card-text">Consultez la liste des événements disponibles.</p>
                        <a href="{{ path('app_event_user') }}" class="btn btn-primary">Voir les Événements</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body card-user">
                        <h5 class="card-title">Modifier Profil</h5>
                        <p class="card-text">Modifiez les informations de votre profil utilisateur.</p>
                        <a href="{{ path('app_edit_profile') }}" class="btn btn-primary">Modifier Profil</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
